.contact-form{
  background-color: rgba(29, 34, 42, 0.9);
  color: #FFFFFF;
  padding: 30px;

  .info-address{
    a{
      color: #FFFFFF;
    }
  }
  .form-control{
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: transparent;
    &:focus{
      border-color: #FFFFFF;
    }
  }
  .btn-form-button{
    border: 1px solid #ff205a;
    border-radius: 0;
    color: #FFFFFF !important;
    background-color: #ff205a;
    text-transform: uppercase;



    &:hover{
      background-color: rgba(255, 32, 90, 0.7);
      color: #FFFFFF !important;
      transition: all 0.2s ease-in-out;

    }
  }
}