.news-letter{
  background-color: $bg-color-3;
  padding: 80px 0;
  .news-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    h6{
      color: $color-10;
    }

  }
  .news-img-card{
    background-color: $bg-color-6;
    margin-bottom: 40px;
    position: relative;
    .news-img{
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    .news-card-content{
      padding:0px 15px!important;
      h5{
        margin: 25px 0px 20px 0px;
      }
      .paragraph{
        padding-bottom: 20px;
        color: $color-17;
        .sub{
          border-right: 2px solid $color-6;
          padding-left: 0px;
          padding-right: 12px;
        }
        .date{
          padding: 0px 15px;
        }
      }
    }
    .blog-card-title{
      display: block;
      position: relative;
      width:100%;
      overflow: hidden;
      padding-top: 30px;
      h5{
        display: inline-block;
        float: left;
        width: calc(100% - 106px);
        margin-left: 24px;
        padding-left: 15px;
      }
    .blog-post-date-sticker-2{
      width:80px;
      display: inline-block;
      float: left;
      }
      .sticker-container{
        position: relative;
        background-color: #fff;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
        line-height: 1;
        .date{
          display: block;
          font-size: 36px;
          letter-spacing: 4px;
          margin: 0px 10px;
        }
        .month
        {
          display: block;
          letter-spacing: 4px;
          font-size: 18px;
          margin: 0px 10px;
        }
        .year{
          position: absolute;
          top: 0;
          right: 0;
          writing-mode: vertical-lr;
          transform: rotate(180deg) translateX(-100%);
          height: 100%;
          text-align: center;
          padding-left: 5px;
          padding-right: 5px;
          background-color: #999;
          color: #fff;
        }
      }

    }
  }
}