.service-section{
  background-color: #fff;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;

  .service-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    .service-row{
      position: relative;
      .service{
        position: absolute;
        color: #ff205a;
      }
    }
      h6{
        color: #6f6f6f;
        margin-top:0px;
      }

  }
}
