.clients-section{
    background-color: #fff;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    padding: 80px;
    @media screen and (max-width: 768px) {
        padding: 30px;
    }
    @media screen and (max-width: 432px) {
        padding: 15px;
    }
    .clients-heading{
        text-align: center;
        text-transform: uppercase;
        h6{
            color: #6F6F6F;
        }
        h4{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .clients-content{
        position: relative;
        padding:120px 0px 60px 0px;
        .text-middle {
            align-items: center;
            .clients-img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .common {
                padding: 20px 0px 0 80px;
                position: relative;
                .service-icon{
                    i{
                        color: red;
                        font-size: 44px;
                        position: absolute;
                        top: 15px;
                        left: 15px;

                    }
                }
                h5 {
                    text-transform: uppercase;
                    position: relative;
                }
                p{
                    color: #A2A2A2;
                    margin: 0 0 10px;
                }
            }
        }
    }
}
.width-100{
    width: 100%;
}