.service-process{
    padding: 40px 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color:$bg-color-6;
    border-bottom: 1px solid $color-6;
    .process-heading {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
        h6 {
            color: $color-10;
        }
        h4 {
            color: $color-12;
            margin-top: 10px;
        }
    }
    .process-content{
        .process-card{
           text-align: center;
            .promo-box{
                border-left:1px solid $color-13;
                border-right:1px solid $color-13;
                transition: all 450ms ease-in-out;
                &:hover{
                    border-left:1px solid $color-1;
                    border-right:1px solid $color-1;
                    i{
                        color: $color-1;
                    }
                }
                .process{
                    font-size: 60px;
                    color: $color-14;
                    padding: 15px;}
            }
        }
    }
}