.service-section {
  background-color: #fff;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;

  .service-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    h6 {
      color:$color-10;
      margin-top: 0px;
    }
  }
  .service-content {
    .service-item {
      position: relative;
      .service-icon{
        position: absolute;
        color: $color-1;
          i{
            font-size: 31px;
          }
      }
      .service-text{
        margin:45px 0px;
        padding:0px 20px 0px 65px;
          h5{
            margin-bottom: 15px;
            color:$color-11;
          }
        p{
          color:$color-5;
        }
      }
    }
  }
}


