.our-service{
    padding: 40px 0px;
    .service-2-heading {
        h4 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .btn-group{
        margin-top: 25px;
        .btn-see{
            background-color: $bg-color-4;
            color: $color-2;
            margin-right: 10px;
            border-radius: 2px;
            text-transform: uppercase;
            border: 2px solid $color-1;
        }
        .btn-get{
            background: transparent;
            color: $color-1;
            border-radius: 2px;
            text-transform: uppercase;
            border: 2px solid $color-1;
            margin-right: 0px;
            &:hover{
                background-color:$bg-color-12;
            }

        }
    }
}
.loving-us {
  padding: 40px 0px;
  margin-bottom: 10px;
  background-color:$bg-color-9;
  .align-items {
    align-items: center;
    h5 {
      color: $color-16;
      .number {
        color: $color-1;
        margin: 0px 10px;
        font-family: "Lora",serif;
        font-weight: 700;
      }
    }
    p {
      color: $color-10;
    }
    .btn-live {
      background: transparent;
      color: $color-1;
      border-radius: 2px;
      text-transform: uppercase;
      border: 1px solid $color-1;
      margin-right: 0px;
      &:hover {
        background-color:$bg-color-12;
      }
    }
  }
}