#section-heading{
  text-align: center;
  hr{
    width: 20px;
    color: #1d1e1f;
  }
  h2{
    text-transform: uppercase;
  }
  p{
    text-transform: capitalize;
  }

}
.group{
  border:1px solid #ddd;
  border-bottom: none;
  border-top: none ;
  overflow: hidden;
  padding: 80px;
  text-align: center;

    figure{
      img{

       max-width: 100%;
        height: auto;
        border-radius: 100%;
        z-index: -10;
        position: relative;
        background-size: cover;
      }
    }
  ul{

      display: block;
      list-style: none;
      position: absolute;

    li{
        a{
          text-decoration: none;
          text-align: center;
        }
    }
  }

}


