#section-heading{
  text-align: center;
  hr{
    width: 20px;
    color: #1d1e1f;
  }
  h2{
    text-transform: uppercase;
  }
  p{
    text-transform: capitalize;
  }

}
.group{
  border:1px solid #ddd;
  border-bottom: none;
  border-top: none ;
  overflow: hidden;
  padding: 80px;
  text-align: center;
  position: relative;

    figure{
      img{

       max-width: 100%;
        height: auto;
        border-radius: 100%;
        z-index: -10;
        background-size: cover;
      }
    }
  ul{
      display: block;
      list-style: none;
      position: absolute;
      top: 0;
      left:0;
      width: 40px;
      height: 30%;
      background-color: #419641;

    li{
      display: block;

        a{
          text-decoration: none;
          text-align: center;
          display: block;
        }
    }
  }

}


