$color-1:#ff205a;
$color-2:#fff;
$color-3:#F3F3F3;
$color-4:#606370;
$color-5:#808080;
$color-6:#E2E2E2;
$color-7:#222222;
$color-8:#666;
$color-9:#6B6B6B;
$color-10:#6F6F6F;
$color-11: #444;
$color-12: #000;
$color-13:#dddddd;
$color-14:#8e7a7a;
$color-15:#A2A2A2;
$color-16:#292b2c;
$color-17:#636363;
$color-18:rgba(255, 255, 255, 0.8);


$bg-color-1:#123135;
$bg-color-2:rgba(29, 34, 42, 0.9);
$bg-color-3:#F3F3F3;
$bg-color-4:#ff205a;
$bg-color-5:#777;
$bg-color-6:#fff;
$bg-color-7:#E2E2E2;
$bg-color-8:#f5f5f5;
$bg-color-9:#F5F5F5;
$bg-color-10:#292b2c;
$bg-color-12:#ff9090;
$bg-color-13:rgba(255, 32, 90, 0.7);;


$primary-overlay: #000;
$secondary-overlay: #000;
$ternary-overlay: #000;
$gradient-overlay: #000;
