$color-1:#ff205a;
$color-2:#fff;
$color-3:#000;


$bg-color-1:#000;
$bg-color-2:#000;
$bg-color-3:#000;
$bg-color-4:#000;
$bg-color-5:#000;


$primary-overlay: #000;
$secondary-overlay: #000;
$ternary-overlay: #000;
$gradient-overlay: #000;
