include ../modules/title-modules.pug
include ../modules/social-menu.pug
include ../modules/price.pug
include ../modules/single-button.pug

mixin footer()
    .container
        section.footer-theme.bg-full.overlay-default(style="background-image:url(../image/backgrounds/bg-testimonial.jpg)")
            .row
                .col-md-4
                    .footer-wrapper-widget
                        .company-fact-widget
                            +title(5,"Xcent")
                            +multiple_span("attr-name","email:","id-name"," xcent@gmail.com")
                            +multiple_span("attr-name","call us:","id-name"," +043034043-43")
                            br
                            +paragraph(["1210,eco garden,gundua#446","arsenal the gunner,","bermingham,2400."])

                        .footer-menu-widget
                            span.attr-name
                                | follow us:
                            +socialMenu("social-widget",["ion-social-facebook", "ion-social-google", "ion-social-youtube", "ion-social-javascript", "ion-social-linkedin"])



                .col-md-4
                    .subscribe
                        +title(5,"subscribe to our newsletter")
                        +paragraph(["For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective."])
                    .subscription-form
                        span.attr-name
                            | enter your email: *
                        form.form.form-inline
                            .form-group
                                label
                                    input.form-control(type="email",placeholder="subscribe here")
                                    input.form-control.btn.btn-default.btn-theme-default(type="submit",value="subscribe")

                .col-md-4
                    .footer-about-section-widget
                        +title(5,"all you need know about the pricing consolation of Xcent")
                        +paragraph(["Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget."])