include ../modules/title-modules.pug
include ../modules/figure.pug
mixin gallery()
    section.our-gallery
        .gallery-heading.text-center
            +title(6,"Check Our Best")
            +title(4,"Works")
        .container
            .gallery-menu
                ul.gallery-ul
                    li
                        a ALL
                    li
                        a PHOTHOGRAPHY
                    li
                        a WEB
                    li
                        a ILLUSTRATION
                    li
                        a MULTIMEDIA
                    li
                        a APPS
            .gallery-imgs
                .row
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/1.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/2.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"LIGHTBOX VIEW")
                                        +title(6,"Artworks")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/3.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"Photography")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/1.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"VIDEOBOXVIEW")
                                        +title(6,"Videography")
                .row
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/1.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/2.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"LIGHTBOX VIEW")
                                        +title(6,"Artworks")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/3.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"Photography")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/1.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"VIDEOBOXVIEW")
                                        +title(6,"Videography")

                .row
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/1.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/2.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"LIGHTBOX VIEW")
                                        +title(6,"Artworks")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/3.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"Photography")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/1.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"VIDEOBOXVIEW")
                                        +title(6,"Videography")

                .row
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/3.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/1.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"LIGHTBOX VIEW")
                                        +title(6,"Artworks")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/2.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"Photography")
                    .col-md-3
                        .gallery-card
                            +figure("product-img","../image/blog/3.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.icons
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"VIDEOBOXVIEW")
                                        +title(6,"Videography")
mixin isotope()
    .grid
        .filter-button-group
            a.btn-filter(href="#",data-filter=".one") 1
            a.btn-filter(href="#",data-filter=".two") 2
            a.btn-filter(href="#",data-filter=".three") 3
            a.btn-filter(href="#",data-filter=".four") 4
        .col-md-3.one
            | one
        .col-md-3.two
            | two
        .col-md-3.three
            | three
        .col-md-3.four
            | four



