include ../modules/title-modules.pug
include ../modules/figure.pug
mixin gallery()
    section.our-gallery
        .gallery-heading.text-center
            +title(6,"Check Our Best")
            +title(4,"Works")
        .container
            .gallery-menu
                ul.gallery-ul
                    li
                        a(data-filter="*") ALL
                    li
                        a(data-filter=".s-img") PHOTHOGRAPHY
                    li
                        a WEB
                    li
                        a(data-filter=".t-img") ILLUSTRATION
                    li
                        a MULTIMEDIA
                    li
                        a APPS
            .gallery-imgs
                .row.isotop-gallery
                    .col-md-3.f-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/1.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/1.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.s-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/2.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/2.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.t-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/3.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/3.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.f-img.s-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/4.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/4.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.s-img.t-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/5.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/5.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.s-img.fo-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/6.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/6.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.s-img.fi-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/7.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/7.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.s-img.fi-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/8.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/8.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.s-img.fi-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/12.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/12.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.s-img.fi-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/10.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/10.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.s-img.fi-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/12.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/12.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")
                    .col-md-3.s-img.fi-img.col-sm-6
                        .gallery-card
                            +figure("product-img","../image/masonry/12.jpg")
                            .hover-gallery.text-center
                                .middle-alignment
                                    p
                                        a.img-link-popup.icons(href="../image/masonry/12.jpg")
                                            i.ion-ios-search
                                    .gallery-hover-text
                                        +title(4,"EXTERNAL LINK")
                                        +title(6,"EXTERNAL LINK")


mixin isotope()
    .grid
        .filter-button-group
            a.btn-filter(href="#",data-filter=".one") 1
            a.btn-filter(href="#",data-filter=".two") 2
            a.btn-filter(href="#",data-filter=".three") 3
            a.btn-filter(href="#",data-filter=".four") 4
        .col-md-3.one
            | one
        .col-md-3.two
            | two
        .col-md-3.three
            | three
        .col-md-3.four
            | four



