include ../modules/title-modules.pug
include ../modules/blog-card-footer.pug
mixin our_news_3()
    section.news-letter
        div.news-heading
            +title(6,"CHECK OUR")
            +title(4,"LATEST NEWS")
        .container
            .row.news-card
                .col-md-4.col-sm-6.col-xs-12
                    div.news-img-card
                        .blog-card-title
                            div.blog-post-date-sticker-2
                                div.sticker-container
                                    span.date 02
                                    span.month feb
                                    span.year 2017

                            h5 Design Trends That We Will See Taking Over
                        div.news-card-content
                            div.paragraph
                                p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                            div.blog-card-footer
                                +blog_footer([{'icon':'ion-thumbsup','text':'LIKE'},{'icon':'ion-thumbsdown','text':'DISLIKE'},{'icon':'ion-android-favorite','text':'LOVE'},{'icon':'ion-ios-chatboxes','text':'COMMENT'}])
                .col-md-4.col-sm-6.col-xs-12
                    div.news-img-card
                        .blog-card-title
                            div.blog-post-date-sticker-2
                                div.sticker-container
                                    span.date 02
                                    span.month feb
                                    span.year 2017

                            h5 Design Trends That We Will See Taking Over
                        div.news-card-content
                            div.paragraph
                                p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                            div.blog-card-footer
                                +blog_footer([{'icon': 'ion-thumbsup', 'text': 'LIKE'}, {
                                    'icon': 'ion-thumbsdown',
                                    'text': 'DISLIKE'
                                }, {'icon': 'ion-android-favorite', 'text': 'LOVE'}, {
                                    'icon': 'ion-ios-chatboxes',
                                    'text': 'COMMENT'
                                }])
                .col-md-4.col-sm-6.col-xs-12
                    div.news-img-card
                        .blog-card-title
                            div.blog-post-date-sticker-2
                                div.sticker-container
                                    span.date 02
                                    span.month feb
                                    span.year 2017

                            h5 Design Trends That We Will See Taking Over
                        div.news-card-content
                            div.paragraph
                                p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                            div.blog-card-footer
                                +blog_footer([{'icon': 'ion-thumbsup', 'text': 'LIKE'}, {
                                    'icon': 'ion-thumbsdown',
                                    'text': 'DISLIKE'
                                }, {'icon': 'ion-android-favorite', 'text': 'LOVE'}, {
                                    'icon': 'ion-ios-chatboxes',
                                    'text': 'COMMENT'
                                }])

