include ../modules/figure.pug
mixin partner()
    section.our-partners
        div.partner-img
            .container
                .row.partners-hover
                    .col-md-3.col-sm-6.col-xs-12
                        +figure("clients-img text-center","../../bin/image/clients/c_logo01.png")
                    .col-md-3.col-sm-6.col-xs-12
                        +figure("clients-img text-center","../../bin/image/clients/c_logo02.png")
                    .col-md-3.col-sm-6.col-xs-12
                        +figure("clients-img text-center","../../bin/image/clients/c_logo03.png")
                    .col-md-3.col-sm-6.col-xs-12
                        +figure("clients-img text-center","../../bin/image/clients/c_logo04.png")