include ../modules/services-module.pug
include ../modules/figure.pug
mixin clients()
    section.clients-section
        div.clients-heading
            +title(6,"CLIENTS ARE")
            +title(4,"LOVING US")
        div.clients-content
            .container
                .row
                    .col-md-6.col-sm-12
                        +
