include ../modules/service-modules-2.pug
mixin link()
    section.our-service
        .container
            .row
                .col-md-12.text-center
                    +service_2("service-2-heading","Thinking of your next project?","btn-group","btn btn-default btn-see","see pricing","btn btn-default btn-get","get a free quote")