include ../modules/title-modules.pug
mixin skils()
    section.our-skils
        .skil-section-heading.text-center
            +title(3,"OUR SKILLS")
        .container
            .row.vertical-middle
                .col-md-3.col-sm-6.col-xs-12.common-style
                    p.percentage
                        span.number 78
                        span.sign %
                    +title(4,"DESIGN")
                .col-md-3.col-sm-6.col-xs-12.common-style
                    p.percentage
                        span.number 58
                        span.sign %
                    +title(4,"CONTENT")
                .col-md-3.col-sm-6.col-xs-12.common-style
                    p.percentage
                        span.number 98
                        span.sign %
                    +title(4,"USABILITY")
                .col-md-3.col-sm-6.col-xs-12.common-style
                    p.percentage
                        span.number 63
                        span.sign %
                    +title(4,"DEMAND")