include ../modules/figure.pug
include ../modules/title-modules.pug
mixin our_team()
    section.team.team-1
        .container
            .team-heading.section-heading.text-center
                +title(6,"Meet the")
                +title(4,"Zious Team")
            .row
                .col-md-4
                    +figure_with_menu("team-1-figure","../image/team/team-1.jpg","MONTASIR JAMI","CTO at Zious")
                .col-md-4
                    +figure_with_menu("team-1-figure","../image/team/team-2.jpg","MONTASIR JAMI","CTO at Zious")
                .col-md-4
                    +figure_with_menu("team-1-figure","../image/team/team-3.jpg","MONTASIR JAMI","CTO at Zious")
                .col-md-4
                    +figure_with_menu("team-1-figure","../image/team/team-1.jpg","MONTASIR JAMI","CTO at Zious")
                .col-md-4
                    +figure_with_menu("team-1-figure","../image/team/team-2.jpg","MONTASIR JAMI","CTO at Zious")
                .col-md-4
                    +figure_with_menu("team-1-figure","../image/team/team-3.jpg","MONTASIR JAMI","CTO at Zious")
