include ../modules/title-para-hr.pug
include ../modules/figure.pug


mixin about_us_1(sectionClass,divClass)
    section(class=sectionClass)
        .container
            +title_para_hr("about-us-1-heading","",4,"ABOUT US",["EVERYTHING YOU NEED TO KNOW ABOUT OUR COMPANY"],"hr-01")
            div(class=divClass)
                .row.item-center
                    .col-md-4
                        +title_para_hr("about-content text-right","",4,"WE'RE CREATIVE",["Lorem adipipsum idolor sit iamet, iconsectetur aisicing elit. Necessitatib."],"")
                    .col-md-4
                        +figure("about-us-img","../image/about-us/center_image.jpg")
                    .col-md-4
                        +title_para_hr("about-content text-left","",4,"WE'RE CREATIVE",["Lorem adipipsum idolor sit iamet, iconsectetur aisicing elit. Necessitatib."],"")






