.service-section {
  background-color: #fff;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
}

.service-section .service-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.service-section .service-heading h6 {
  color: #6f6f6f;
  margin-top: 0px;
}

.service-section .service-content .service-item {
  position: relative;
}

.service-section .service-content .service-item .service-icon {
  position: absolute;
  color: #ff205a;
}

.service-section .service-content .service-item .service-icon i {
  font-size: 31px;
}

.service-section .service-content .service-item .service-text {
  margin: 45px 0px;
  padding: 0px 20px 0px 65px;
}

.service-section .service-content .service-item .service-text h5 {
  margin-bottom: 15px;
  color: #444;
}

.service-section .service-content .service-item .service-text p {
  color: #808080;
}

#section-heading {
  text-align: center;
}

#section-heading hr {
  width: 20px;
  color: #1d1e1f;
}

#section-heading h2 {
  text-transform: uppercase;
}

#section-heading p {
  text-transform: capitalize;
}

.group {
  border: 1px solid #ddd;
  border-bottom: none;
  border-top: none;
  overflow: hidden;
  padding: 80px;
  text-align: center;
  position: relative;
}

.group figure img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  z-index: -10;
  background-size: cover;
}

.group ul {
  display: block;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30%;
  background-color: #419641;
}

.group ul li {
  display: block;
}

.group ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
}

#section-heading {
  text-align: center;
}

#section-heading hr {
  width: 20px;
  color: #1d1e1f;
}

#section-heading h2 {
  text-transform: uppercase;
}

#section-heading p {
  text-transform: capitalize;
}

.group {
  border: 1px solid #ddd;
  border-bottom: none;
  border-top: none;
  overflow: hidden;
  padding: 80px;
  text-align: center;
  position: relative;
}

.group figure img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  z-index: -10;
  background-size: cover;
}

.group ul {
  display: block;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30%;
  background-color: #419641;
}

.group ul li {
  display: block;
}

.group ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
}

#section-heading {
  text-align: center;
}

#section-heading hr {
  width: 20px;
  color: #1d1e1f;
}

#section-heading h2 {
  text-transform: uppercase;
}

#section-heading p {
  text-transform: capitalize;
}

.group {
  border: 1px solid #ddd;
  border-bottom: none;
  border-top: none;
  overflow: hidden;
  padding: 80px;
  text-align: center;
  position: relative;
}

.group figure img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  z-index: -10;
  background-size: cover;
}

.group ul {
  display: block;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30%;
  background-color: #419641;
}

.group ul li {
  display: block;
}

.group ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
}

#section-heading {
  text-align: center;
}

#section-heading hr {
  width: 20px;
  color: #1d1e1f;
}

#section-heading h2 {
  text-transform: uppercase;
}

#section-heading p {
  text-transform: capitalize;
}

.group {
  border: 1px solid #ddd;
  border-bottom: none;
  border-top: none;
  overflow: hidden;
  padding: 80px;
  text-align: center;
  position: relative;
}

.group figure img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  z-index: -10;
  background-size: cover;
}

.group ul {
  display: block;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30%;
  background-color: #419641;
}

.group ul li {
  display: block;
}

.group ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
}

.about-us-1 {
  padding: 90px 0px;
}

.about-us-1 .about-us-1-heading {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.about-us-1 .about-us-1-heading .hr-01 {
  border: 0;
  height: 2px;
  background-color: #000;
  width: 50px;
}

.about-us-1 .about .about-content {
  padding-left: 30px;
  padding-right: 30px;
}

.about-us-1 .about .about-content h4 {
  margin-bottom: 30px;
}

.sliced {
  position: relative;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}

.tile {
  background-color: red;
  position: absolute;
  transform: scale(0);
  transition: all 10s ease-in-out;
}

.responsive-img {
  max-width: 100%;
}

.item-center {
  align-items: center;
}

<<<<<<< HEAD
.our-service {
  padding: 40px 0px;
}

.our-service .service-2-heading h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.our-service .btn-group {
  margin-top: 25px;
}

.our-service .btn-group .btn-see {
  background-color: #ff205a;
  color: #fff;
  margin-right: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  border: 2px solid #ff205a;
}

.our-service .btn-group .btn-get {
  background: transparent;
  color: #ff205a;
  border-radius: 2px;
  text-transform: uppercase;
  border: 2px solid #ff205a;
  margin-right: 0px;
}

.our-service .btn-group .btn-get:hover {
  background-color: #ff9090;
}

.loving-us {
  padding: 40px 0px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
}

.loving-us .align-items {
  align-items: center;
}

.loving-us .align-items h5 {
  color: #292b2c;
}

.loving-us .align-items h5 .number {
  color: #ff205a;
}

.loving-us .align-items p {
  color: #6F6F6F;
}

.loving-us .align-items .btn-live {
  background: transparent;
  color: #ff205a;
  border-radius: 2px;
  text-transform: uppercase;
  border: 1px solid #ff205a;
  margin-right: 0px;
}

.loving-us .align-items .btn-live:hover {
  background-color: #ff9090;
}

.clients-section {
  background-color: #fff;
  border-bottom: 1px solid #E2E2E2;
  border-top: 1px solid #E2E2E2;
  padding: 80px;
}

@media screen and (max-width: 768px) {
  .clients-section {
    padding: 30px;
  }
}

@media screen and (max-width: 432px) {
  .clients-section {
    padding: 15px;
  }
}

.clients-section .clients-heading {
  text-align: center;
  text-transform: uppercase;
}

.clients-section .clients-heading h6 {
  color: #6F6F6F;
}

.clients-section .clients-heading h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clients-section .clients-content {
  position: relative;
  padding: 120px 0px 60px 0px;
}

.clients-section .clients-content .text-middle {
  align-items: center;
}

.clients-section .clients-content .text-middle .clients-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clients-section .clients-content .text-middle .common {
  padding: 20px 0px 0 80px;
  position: relative;
}

.clients-section .clients-content .text-middle .common .service-icon i {
  color: red;
  font-size: 44px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.clients-section .clients-content .text-middle .common h5 {
  text-transform: uppercase;
  position: relative;
}

.clients-section .clients-content .text-middle .common p {
  color: #A2A2A2;
  margin: 0 0 10px;
}

.width-100 {
  width: 100%;
}

.service-process {
  padding: 40px 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #fff;
  border-bottom: 1px solid #E2E2E2;
}

.service-process .process-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.service-process .process-heading h6 {
  color: #6F6F6F;
}

.service-process .process-heading h4 {
  color: #000000;
  margin-top: 10px;
}

.service-process .process-content .process-card {
  text-align: center;
}

.service-process .process-content .process-card .promo-box {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  transition: all 450ms ease-in-out;
}

.service-process .process-content .process-card .promo-box:hover {
  border-left: 1px solid #ff205a;
  border-right: 1px solid #ff205a;
}

.service-process .process-content .process-card .promo-box:hover i {
  color: #ff205a;
}

.service-process .process-content .process-card .promo-box .process {
  font-size: 60px;
  color: #8e7a7a;
  padding: 15px;
}

.feature-head {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.feature-head h2 {
  text-transform: uppercase;
  font-weight: 700;
}

.feature-head p {
  text-transform: capitalize;
}

.feature-section p i {
  font-size: 40px;
}

.feature-text {
  border: 1px solid darkgrey;
  border-top: none;
  border-bottom: none;
  padding: 20px;
  text-align: center;
}

.section-heading {
  padding-top: 50px;
  text-align: center;
}

.section-heading hr {
  width: 50px;
}

.our-partners {
  background-color: #292b2c;
  padding: 40px 0px;
}

.funfacts-1 {
  padding: 100px 0;
}

.funfacts-1 .funfacts-box {
  color: #fff;
}

.funfacts-1 .funfacts-box i {
  font-size: 44px;
}

.funfacts-1 .funfacts-box .number {
  font-size: 40px;
}

.news-letter {
  background-color: #F3F3F3;
  padding: 80px 0;
}

.news-letter .news-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.news-letter .news-heading h6 {
  color: #6F6F6F;
}

.news-letter .news-img-card {
  background-color: #ffffff;
  margin-bottom: 40px;
}

.news-letter .news-img-card .news-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.news-letter .news-img-card .news-card-content {
  padding: 0px 30px;
}

.news-letter .news-img-card .news-card-content h5 {
  margin: 25px 0px 20px 0px;
}

.news-letter .news-img-card .news-card-content .paragraph {
  padding-bottom: 20px;
  color: #636363;
}

.news-letter .news-img-card .news-card-content .paragraph .sub {
  border-right: 2px solid #E2E2E2;
  padding-left: 0px;
  padding-right: 12px;
}

.news-letter .news-img-card .news-card-content .paragraph .date {
  padding: 0px 15px;
=======
.directive-widget {
  padding: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  margin: 30px 0;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.directive-widget .directive-area {
  position: absolute;
  height: calc(50% + 60px);
  border-color: #b4b4b4 !important;
}

.directive-widget .directive-area .directive-text {
  position: absolute;
  height: 100%;
  font-size: .7em;
  font-weight: 800;
  letter-spacing: 2px;
}

.directive-widget .content {
  color: #999;
}

.directive-widget .right-down {
  left: 100%;
  bottom: -60px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  width: 50%;
  writing-mode: vertical-lr;
}

.directive-widget .right-down .directive-text {
  left: 100%;
  margin-left: 10px;
}

.directive-widget .down-left {
  left: 0;
  top: 100%;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  width: 50%;
  margin-left: -30px;
  writing-mode: vertical-lr;
}

.directive-widget .down-left .directive-text {
  writing-mode: horizontal-tb;
  width: 100%;
  height: auto;
  top: 100%;
  text-align: center;
  letter-spacing: 1px;
  transform: rotate(180deg);
}

.directive-widget .left-top {
  left: -50%;
  top: -60px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  width: 50%;
  writing-mode: vertical-lr;
}

.directive-widget .left-top .directive-text {
  left: 0;
  transform: translateX(-100%) rotate(180deg);
  margin-left: -10px;
  text-align: center;
}

.directive-widget .top-right {
  left: 50%;
  top: calc(-50% - 60px);
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  width: 50%;
  margin-left: 30px;
  writing-mode: vertical-lr;
}

.directive-widget .top-right .directive-text {
  left: 0;
  writing-mode: horizontal-tb;
  width: 100%;
  height: auto;
  bottom: 100%;
  text-align: center;
  letter-spacing: 1px;
  animation-name: left-to-right;
  animation-duration: 4s;
  /* or: Xms */
  animation-timing-function: ease-out;
  /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards;
  /* or: backwards, both, none */
  animation-delay: 2s;
  /* or: Xms */
}

.we-are-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 10;
  background-color: #f7f7f7;
  max-width: 220px;
  margin: 0 auto;
}

.we-are-middle .text-sp {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 4px;
}

.we-are-middle:after {
  content: '';
  position: absolute;
  border: 25px solid #f7f7f7;
  border-top-color: transparent;
  border-right-color: transparent;
  top: 50%;
  background-color: transparent;
  left: 0;
  margin-left: -12px;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  z-index: 20;
}

@keyframes left-to-right {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0);
  }
>>>>>>> dev-bipresh
}
