mixin fun(funfact_class,icon_class,number,title)
    .funfact(class=funfact_class)
        p
            span.icon
                i(class=icon_class)
        p
            span.number=number
        h6=title