include title-modules.pug

mixin services(services_class,icon,heading,title,para)
    div(class=services_class)
        if icon
            span
                i(class=icon)
    div(class=service_text)
        if title
            +title(heading,title)
        if para
            each p in para
                p=p

