doctype 5
html
    head
        title
            block title
        link(rel="stylesheet",href="../final-product/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet",href="../final-product/lib/bootstrap/css/bootstrap-grid.min.css")
        link(rel="stylesheet", href="../final-product/lib/owlcarousel/css/owl.carousel.css")
        link(rel="stylesheet", href="../final-product/lib/owlcarousel/css/owl.theme.css")
        link(rel="stylesheet",href="../final-product/lib/ionicons/css/ionicons.min.css")
        link(rel="stylesheet",href="../final-product/lib/mbyt-player/jquery.mb.YTPlayer.min.css")
        link(rel="stylesheet",href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i")
        link(rel="stylesheet",href="../css/main.css")

    body
        block main

        block script
            script(type="text/javascript",src="../final-product/lib/jquery/jquery.min.js")
            script(type="text/javascript",src="../final-product/lib/tether/tether.min.js")
            script(type="text/javascript",src="../final-product/lib/bootstrap/js/bootstrap.min.js")
            script(type="text/javascript",src="../final-product/lib/owlcarousel/js/owl.carousel.min.js")
            script(type="text/javascript",src="../final-product/lib/mbyt-player/jquery.mb.YTPlayer.min.js")
            script(type="text/javascript",src="../js/main.js")


