extends ../layout.pug

include ../partials/about-us-1.pug
include ../partials/_directive-widget.pug
include ../partials/_blog-02.pug
include ../partials/_slider.pug


block main
    +ziousSimple()
    +about_us_1("about-us-1","about")
    +whyChoseUs()
    +blog_02()