extends ../layout.pug
include ../modules/bootstrap-multilevel-dropdown.pug
include ../modules/bootstrap-navbar.pug


block main
    +bootstrapDropdownNavbar("xeous-nav-wraper","xeous-nav","","top-nav")
    +bootstrapNavbar("nav-wrapper","icon-bar","logo.jpg")



