extends ../layout.pug

include ../partials/_services.pug
include ../partials/_service-2.pug
include ../partials/_service-3.pug
include ../partials/_service-4.pug
block main
    +servicesSection()
    +link()
    +clients()
    +process()

