extends ../layout.pug

include ../partials/_services.pug
include ../partials/_service-2.pug
include ../partials/_service-3.pug
include ../partials/_service-4.pug
include ../partials/_partners.pug
include ../partials/_counter.pug
include ../partials/_news.pug
include ../partials/_team.pug
include ../partials/_skils.pug
include ../partials/_gallery.pug
block main
    +servicesSection()
    +link()
    +clients()
    +process()
    +partner()
    +counter()
    +our_news()
    +our_team()
    +skils()
    +gallery()

